.effective-solutions {
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-bottom: 200px;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/images__effective-solutions/jpg/effective-solutions-bg-mobile.jpg);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/images__effective-solutions/jpg/effective-solutions-bg-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/images__effective-solutions/jpg/effective-solutions-bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/images__effective-solutions/jpg/effective-solutions-bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/images__effective-solutions/jpg/effective-solutions-bg-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/images__effective-solutions/jpg/effective-solutions-bg-desktop@2x.jpg);
    }
  }
}

.effective-solutions__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.effective-solutions__discription {
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.effective-solutions__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.06em;
  color: white;
  line-height: 42px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
  }
}

.effective-solutions-button {
  margin-top: 40px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}
