.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logonav-wrapper {
  display: flex;
  align-items: center;
}

.logo__header {
  @media (min-width: 768px) {
    margin-right: 88px;
  }

  @media (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__web {
  color: #2196f3;
}

.logo__header-studio {
  color: black;
}

.header__navigation {
  @media (max-width: 767px) {
    display: none;
  }
}

.navigation-list__li:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02px;
  color: #212121;
  transition: color 250ms linear;

  @media (min-width: 768px) {
    padding-bottom: 36px;
    padding-top: 36px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  &:hover,
  &:focus {
    color: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.navigation-list__link_blue {
  color: #2196f3;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    display: inline-block;
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
}

.header__info {
  @media (max-width: 767px) {
    display: none;
  }
}

.header__contact {
  font-weight: 500;
  letter-spacing: 0, 02em;
  font-family: "Roboto", sans-serif;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 24px;

  &:hover,
  &:focus {
    color: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:first-child {
    @media (min-width: 768px) {
      margin-bottom: 10px;
    }

    @media (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 14px;
    display: block;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 32px;
    padding-top: 32px;
    display: inline;
  }
}
.header__tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196f3;
  display: block;
}

.header__contact-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: #757575;

  .header__contact:hover &,
  .header__contact:hover & {
    fill: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__mail-icon {
  @media (min-width: 768px) {
    width: 14px;
    height: 10px;
  }

  @media (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.header__phone-icon {
  @media (min-width: 768px) {
    width: 10px;
    height: 14px;
  }

  @media (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.header__burger-icon {
  width: 24px;
  height: 16px;
  justify-content: center;
}
.header__mobile-btn {
  background-color: #ffffff;
  padding: 12px 8px;
  // width: 40px;
  // height: 40px;
  border: none;
  @media screen and(min-width: 768px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    display: none;
  }
}
