.major-button-component {
    display: block;
    letter-spacing: 00.06em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #2196f3;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    line-height: 30px;
    cursor: pointer;
}