.social-icon {
    width: 20px;
    height: 20px;

    .social-link:hover &,
    .social-link:focus & {
        fill: white;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

